.walls

  .wall
    background-color $primary
    padding 3px
    margin-bottom 15px

    .name
      padding 3px 5px
      color #f99157

    pre
      background-color black
      padding 5px