div.application
  
  ul.menu
    li.item.selected
      a(href="/#/main") &#59146;
    li.item.ico
      a(href="/#/dashboard") &#128711;
    //- li.item.ico
    //-   | &#128248;
      
  activity()

  div.view(ng-view="")




